# Node.js / React
frontend/node_modules
frontend/coverage
frontend/build
frontend/dist

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Terraform
infra/.terraform
infra/*.tfstate
infra/*.tfstate.*
infra/*.tfplan

# Git
.git
.gitignore

# Misc
*.log
.vscode
.idea
.DS_Store
Thumbs.db
